---
layout: page
---

{{ content }}

{% assign posts = paginator.posts | default: site.posts %}

<section class="home-articles-section" aria-labelledby="home-articles-heading">
  <div class="home-articles-section__header">
    <h2 id="home-articles-heading" class="home-articles-section__title">文章</h2>
  </div>

  <ul class="home-articles-list list-unstyled" role="list">
    {% for post in posts %}
    <li class="home-article-item">
      <article>
        <a class="home-article-item__title-link" href="{{ post.url | absolute_url }}">
          <h3 class="home-article-item__title">{{ post.title | strip_html }}</h3>
        </a>
      </article>
    </li>
    {% endfor %}
  </ul>
</section>

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager clay-pagination">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">
      <span class="d-none d-sm-inline-block">Newer Posts</span>
    </a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">
      <span class="d-none d-sm-inline-block">Older Posts</span>
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
